@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)50%), url(images/stdpage.jpg);
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
    padding-right: 15px;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 10px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{
    background: #333;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:hover > ul{
    display: initial;
}

form .profile{
    box-shadow: 0 5px 10px;
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 400px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    margin-top: 15%;
    color: white;
    margin-bottom: 10%;
}

form.adminProfile .inputBox{
    align-items: center;
    display: flex;
    justify-content: center;
}

.adminProfile .inputBox .details{
    margin-bottom: 5px;
}

.adminProfile .inputBox input{
    padding-right: 1rem;
    font-size: 16px;
    width: 50%;
    background: transparent;
    border: none;
}


